.header {
  width: 100%;
  height: 100px;
  background-color: lightgreen;
  margin: 0;
  border: 3px solid lightgreen;
}

#order-container {
  border: 2px solid black;
  display: none;
  padding-bottom: 15px;
}

.clickable:hover {
  color: #3366BB;
  text-decoration: underline;
  cursor: pointer;
}

.panel-body {
  display: none;
  ;
}

.panel {
  margin: 0px;
}

img {
  height: 25px;
}

#order-confirmation {
  display: none;
}

body, html {
  height: 100%;
  margin: 0;
}

.wrapper {
  min-height: 100%;
  margin-bottom: -70px;
  padding-top: 0;
}

.footer, .push {
  height: 70px;
}

.footer {
  background-color: red;
}
